@media (max-width:1100px) {
    .slide {
        padding-top: 0px;
        padding-bottom: 0px;


        &:not(:last-child) {
            margin-bottom: 50px;
        }

        margin-bottom: 50px;

        &__body {
            flex-direction: column;
            align-items: center;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        &__title.title {
            font-weight: 700;
            font-size: 48px;
            line-height: 54px;
            margin-bottom: 24px;
        }

        &__desc {
            max-width: 400px;
        }

        &__content {
            margin-bottom: 110px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__image {
            margin-top: 0px;
            margin-bottom: 0px;
            margin-right: 0;
            max-width: 100%;
            max-height: 300px;
        }


        &-2 {
            img {
                margin-top: -50px;
            }
        }

        &-2 {
            img {
                margin-top: -30px;
            }
        }

        &-4 {
            img {
                margin-top: -80px;
                margin-bottom: -20px;
            }
        }

        &__form {
            width: 420px;
        }
    }

    .chat {
        padding-left: 50px;
        padding-right: 50px;
        flex-direction: column-reverse;

        &__content {
            max-width: 100%;
        }

        img {
            margin-left: 0;
            margin-top: 0;
        }

    }

    .order.container {
        margin-bottom: 110px;

        .carousel__track {
            align-items: start;
        }
    }

}