@import '../variables.scss';

@media (max-width: $breakPointTwo) {
    .how {
        margin-bottom: 5px;

        &__title.title {
            margin-bottom: 40px;
        }

        &__list {
            flex-direction: column;
            align-items: center;
        }

        &__item {
            margin-bottom: 40px;
        }
    }
}