@font-face {
    font-display: swap;
    font-weight: 400;
    font-family: 'Avenir';
    font-style: normal;
    src: url(@/fonts/AvenirNextCyr-Regular.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-weight: 500;
    font-family: 'Avenir';
    font-style: normal;
    src: url(@/fonts/AvenirNextCyr-Medium.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-weight: 700;
    font-family: 'Avenir';
    font-style: bold;
    src: url(@/fonts/AvenirNextCyr-Bold.woff2) format("woff2")
}


@font-face {
    font-display: swap;
    font-weight: 600;
    font-family: 'Avenir';
    font-style: bold;
    src: url(@/fonts/AvenirNextCyr-Demi.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-weight: 500;
    font-family: 'Montserrat';
    font-style: normal;
    src: url(@/fonts/Montserrat-Medium.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-weight: 400;
    font-family: 'Montserrat';
    font-style: normal;
    src: url(@/fonts/Montserrat-Regular.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-weight: 600;
    font-family: 'Montserrat';
    font-style: bold;
    src: url(@/fonts/Montserrat-SemiBold.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-weight: 400;
    font-family: 'Gilroy';
    font-style: normal;
    src: url(@/fonts/Gilroy-Regular.woff2) format("woff2")
}