$light: #2D3238;
$blue: #1792C7;
$white: #F3F9FF;
$cloud: #E8F4F7;
$gray: #2D3238;
$gradient: linear-gradient(180deg, $blue 0%, #00B8F0 100%);
$inputb: rgba(56, 152, 254, 0.4);
$blockb: rgba(56, 152, 254, 0.187528);
$blockt: rgba(56, 152, 254, 0.5);
$dark: #555E68;
$breakPointOne: 1100px;
$breakPointTwo: 600px;